$menu-bg-color: #719192;
//menu background color

$menu-icon-color: #f9f7f7;
//menu icons color

$menu-hover-color: #fff;
//menu hover color

$header-bg-color: #719192;
//color of header, small headers and footer

$content-bg-color: rgba(255, 255, 255, 0.5);
//container background color

$main-menu-items: 6;
//number of items in first menu needed for positioning menu items

$secondary-menu-items: 3;
//number of items in second menu needed for spacing calculation between menu items

$hamburger-spacing: 10px;
// Hamburger lines spacing * Do not change *

$home-page-items: 3;
// Number used for delay between appearing text
